body{
    background-color: #2A2B32;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.top-calculadora{
    display: flex;
    flex-direction: row;
    min-width: 300px;
    height: 75px;
    margin-bottom: 10px;
    margin-right: 38px;
}


.screen {
    max-height: 75px;
    max-width: 225px;
    margin-right: 5px;
    font-size: x-large;
    border-radius: 20px;
    outline: none;
    border: none;
    border-top: solid #444654;
    border-bottom: solid #444654;
    background-color: #2A2B32;
    color: aliceblue;
}

.btn-borrar{
    min-width: 75px;
    min-height: 75px;
    margin-bottom: 5px;
    color: red;
    font-size: x-large;
    background-color:  #444654;
    outline: none;
    border: none;
    border-radius: 50%;
}


.keys {
    width: 350px;
}

.num,
.operator-igual,
.operator {
    min-width: 75px;
    min-height: 75px;
    margin-bottom: 5px;
    background-color:  #444654;
    outline: none;
    border: none;
    border-radius: 50%;
}

.operator{
    color: rgb(70, 200, 139);
    font-size: xx-large;
}

.operator-igual{
    color: aliceblue;
    background-color: rgb(70, 200, 139);
    font-size: xx-large;
}

.num{
    color: aliceblue;
    font-size: x-large;
}